
.bubbles{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    
    
}
.bubblesli{
    position: absolute;
    list-style: none;
    display: block;
    width: 25px;
    height: 25px;
    border-radius:  50%;
    border: double 2px #2979ff ;
    animation: rotateOut 25s linear infinite;
    bottom:-150pxpx;
   right: 50px;
}
.bubblesli:nth-child(1){
    left: 1%;
    width: 25px;
    height: 25px;
    animation-delay: 5;
    
}
.bubblesli:nth-child(2){
    left: 6%;
    width: 35px;
    height: 35px;
    animation-delay: 2s;
}
.bubblesli:nth-child(3){
    left: 15%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
    
}
.bubblesli:nth-child(4){
    left: 25%;
    width: 84px;
    height: 84px;
    animation-delay: 18s;
    animation-duration: 13s;
}
.bubblesli:nth-child(5){
    left: 37%;
    width: 50px;
    height: 50px;
    animation-delay: 0;
}
.bubblesli:nth-child(6){
    left: 47%;
    width: 45px;
    height: 45px;
    animation-delay: 3s;
}
.bubblesli:nth-child(7){
    left: 48%;
    width: 130px;
    height: 130px;
    animation-delay: 5s;
    
}
.bubblesli:nth-child(8){
    left: 55%;
    width: 100px;
    height: 100px;
    animation-delay: 10s;
}
.bubblesli:nth-child(9){
    left: 63%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
}
.bubblesli:nth-child(10){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
}
.bubblesli:nth-child(11){
    left: 82%;
    width: 55px;
    height: 55px;
    animation-delay: 9s;
}
.bubblesli:nth-child(12){
    left: 90%;
    width: 25px;
    height: 25px;
    animation-delay: 6s;
}
.bubblesli:nth-child(13){
    left: 30%;
    width: 38px;
    height: 38px;
    animation-delay: 6s;
}

@keyframes animate{
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000) rotate(720deg);
        opacity: 0;
        border-top-left-radius: 75%;
        border-bottom-left-radius: 75%;
        border-top-left-radius: 25%;
        box-shadow: 5px 20px 20px 5px rgb(190, 140, 30)
    }
}
  
@keyframes rotateOut {
  from {
    transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 800deg);
    opacity: 0;
    border-top-left-radius: 75%;
    border-bottom-left-radius: 75%;
    border-top-left-radius: 25%;
    box-shadow: 10px 20px 20px 5px rgb(0, 0, 0)
  }
}