.top{
    justify-content: center;
    justify-items: center;
    height: 200px;
    margin-top: 200px;
    
  }
  .solid{
    border: solid;
    left: 50px;
  }
  ol {
    background: #ff9999;
    padding: 20px;
    width: 250px;
    margin-left: 55px
  }
  
  
  ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 25px;
    margin-right: 35px
  }
  h5{
   width: 350px;
    
  }
  .flex{
    display: flex;
  }
  .centerqr{
    justify-content: center;
    justify-items: center;
  }
  
  .bodorques{
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 250px;
    margin: 0   16px    16px    0;
    box-shadow:  0 1px 0 rgba(0, 0, 0, .15)
  }