.top{
    justify-content: center;
    justify-items: center;
    height: auto;
    
  }
  .solid{
    border: solid;
    left: 50px;
  }
  ol {
    background: #fd9999;
    padding: 20px;
    width: 250px;
    margin-left: 55px;
    
  }
  ol li {
    background: #ffe7ed;
    padding: 5px;
    margin-left: 15px;
    margin-right: 25px;
    width:180px;
  }
  h5{
   width: 400px;
    /* text-align: start; */
  }
  
  .flex{
    display: flex;
  }
  .centerqr{
    justify-content: center;
    justify-items: center;
  }
  
  .marginques{
    margin-left: 50px;
   
  }
  .marginques2{
    margin-left: 50px;
    height: 250px;
  }