.txstart{
   text-align: start;
   box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
   width: auto;
   display: flex;
   
}
.text{
   box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
  display: flex;
  width: 280px;
  justify-content: center;
  border-radius: 4px;
  margin: auto;
  overflow: hidden;
  
}
.flx{
   display: flex;
}